/* global styling */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

/* nav */

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	background-color: #B00D23;
	font-family: 'poppins', sans-serif;
    position: sticky;
    top: 0;
}
.logo{
	color: #fffffe;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}
.navLinks{
	display: flex;
	justify-content: space-around;
	width: 30%; 
	color: #fffffe;
}
.navLinks li{
	list-style: none;
}
.navLinks a {
	color: #fffffe;
	text-decoration: none;
	letter-spacing: 1.5px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

/* City Photo */

img{
    display: block;
}

/* About me div */

#aboutMe{
    background-color: #B00D23;
    color: #fffffe;
    padding-top: 100px;
    padding-left: 140px;
    padding-right: 600px;
    padding-bottom: 200px;
    line-height: 40px;
}
#me {
	font-size: 14pt;
}

/*My Photo */

.myPhoto {
    width: 375px;
    height: 470px;
    display: inline-block;
}
